desk.com/target/
desk.com/pom.xml.tag
desk.com/pom.xml.releaseBackup
desk.com/pom.xml.versionsBackup
desk.com/pom.xml.next
desk.com/release.properties
desk.com/dependency-reduced-pom.xml
desk.com/buildNumber.properties
desk.com/.project
desk.com/.classpath
desk.com/.settings
